<div *ngIf="auth.user$ | async as user; else notSignIn">
    <form [formGroup]="newPostForm" [hidden]="success" (ngSubmit)="post()">
        <h3 class="my-3 text-center">New User Signup</h3>
        <div class="form-row justify-content-center">
            <div class="form-group col-md-3">
                <label for="title">Title</label>
                <div class="mx-auto mb-3">
                    <input type="title" formControlName="title" id='title' class="form-control" required>
                    <div *ngIf="newPostForm.get('title').touched">
                        <mat-error *ngIf="newPostForm.get('title').invalid">
                            Please enter title
                        </mat-error>
                    </div>
                </div>
                <label for="content">Content</label>
                <div class="mx-auto mb-3">
                    <input type="content" size="2" class="form-control" formControlName="content" required>
                    <div *ngIf="newPostForm.get('content').touched">
                        <mat-error *ngIf="newPostForm.get('content').invalid">
                            Please enter content
                        </mat-error>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary" [disabled]="!newPostForm.valid">Submit</button>
        </div>
    </form>
</div>

<ng-template #notSignIn>
    <mat-error>
        Please Log in before creating a new post
    </mat-error>
</ng-template>