<div *ngIf="auth.user$ | async as user; else signup" class="text-center">
    <mat-error>
        you already signed in
    </mat-error>
</div>

<ng-template #signup>
    <form [formGroup]="signupForm" [hidden]="success" (ngSubmit)="signup()">
        <h3 class="my-3 text-center" style="color: aliceblue;">New User Signup</h3>
        <div class="form-row justify-content-center">
            <div class="form-group col-md-3">
                <label for="email" style="color: aliceblue;">Email</label>
                <div class="mx-auto mb-3">
                    <input type="email" formControlName="email" id='email' class="form-control" required>
                    <div *ngIf="signupForm.get('email').touched">
                        <mat-error *ngIf="signupForm.get('email').invalid">
                            Please correct email address
                        </mat-error>
                    </div>
                </div>
                <label for="password" style="color: aliceblue;">Password</label>
                <div class="mx-auto mb-3">
                    <input type="password" size="2" class="form-control" formControlName="password" required>
                    <div *ngIf="signupForm.get('password').touched">
                        <mat-error *ngIf="signupForm.get('password').invalid">
                            Password must be between 6 and 24 chars and have at least one number
                        </mat-error>
                    </div>
                </div>
                <label for="comfirm_password" style="color: aliceblue;">Comfirm Password</label>
                <div class="mx-auto mb-3">
                    <input type="password" size="2" class="form-control" formControlName="comfirm_password" required>
                    <div *ngIf="signupForm.get('comfirm_password').touched">
                        <mat-error *ngIf="signupForm.hasError('passwordsDoNotMatch')">
                            Password does not match
                        </mat-error>
                    </div>
                </div>
                <label for="first_name" style="color: aliceblue;">First Name</label>
                <div class="mx-auto mb-3">
                    <input type="text" size="2" class="form-control" formControlName="first_name" required>
                    <div *ngIf="signupForm.get('first_name').touched">
                        <mat-error *ngIf="signupForm.get('first_name').invalid">
                            Please enter your first name
                        </mat-error>
                    </div>
                </div>
                <label for="last_name" style="color: aliceblue;">Last Name</label>
                <div class="mx-auto mb-3">
                    <input type="text" size="2" class="form-control" formControlName="last_name" required>
                    <div *ngIf="signupForm.get('last_name').touched">
                        <mat-error *ngIf="signupForm.get('last_name').invalid">
                            Please enter your first name
                        </mat-error>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary" [disabled]="!signupForm.valid">Submit</button>
        </div>
    </form>
</ng-template>