<div class="d-flex justify-content-center" id="searchBar">
    <select class="form-control col-lg-4">
        <option>Popular</option>
        <option>All</option>
        <option>Top</option>
        <option>Music</option>
        <option>Movie</option>
        <option>Game</option>
        <option>Political</option>
    </select>
    <input class="mx-1 form-control col-lg-6" type="search" placeholder="Search askReddit">
    <button type="submit" class="mx-1 btn btn-sm btn-success" routerLink='/new-post'>
       New Post
    </button>
</div>

<div [hidden]="!posts">
    <div *ngFor="let post of posts">
        <div class="container-fluid">
            <div class="clickable shadow-lg container p-3 mb-4 bg-light text-dark mt-4" (click)='openPost(post.id)'>
                <h2>Title: {{ post.title }}</h2>
                <p>author: {{ post.author }}</p>
                <form class="form-inline">
                    <div class="form-group">
                        <button type="submit" class="btn btn-sm btn-light">
                            <img src="assets/img/25663.svg" width="30">
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>