<div class="d-flex justify-content-center" id="searchBar">
    <select class="form-control col-lg-4">
        <option>Popular</option>
        <option>All</option>
        <option>Top</option>
    </select>
    <input class="form-control col-lg-6" type="search" placeholder="Search Reddit">
    <button type="submit" class="btn btn-sm btn-success" routerLink='/new-post'>
       New Post
    </button>
</div>

<div [hidden]="postsJson.length==0">
    <div *ngFor="let post of postsJson" (click)='openPost(post.id)' class="clickable">
        <div class="container-fluid">
            <div class="container p-3 mb-4 bg-light text-dark mt-4">
                <h2>Title: {{ post.title }}</h2>
                <iframe class="text-center" width="600" height="350" src="https://www.youtube.com/embed/Div0iP65aZo" frameborder="0" allowfullscreen=""></iframe>
                <form class="form-inline">
                    <div class="form-group">
                        <button type="submit" class="btn btn-sm btn-light"><img src="assets/img/thumb-uqwtqouqvector-black-and-white-library-did-it-againthe.jpg" width="40">{{ post.upVote }}</button>
                        <button type="submit" class="btn btn-sm btn-light"><img src="assets/img/231-2318775_bart-clipart-pink-homer-simpson-transparent-background.png" width="40">{{ post.downVote }}</button>
                        <button type="submit" class="btn btn-sm btn-light"><img src="assets/img/25663.svg" width="30"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>