
body {
    background-image: url("../../../assets/img/download.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .mm-voting {
    text-align: center;
    width:20px;
  }
  
  .mm-voting input,
  .mm-voting label {
    display:block;
  }
  
  .mm-voting input {
    border-left: 10px solid white;  
    border-right: 10px solid white;
    border-bottom: 20px solid black;
    border-top:none;
    background:blue;
    cursor:pointer;
    height:0;
    padding: 0;
    outline:none;
    text-indent:-99999px;
  }
  
  .mm-voting input[value="downvote"] { 
    border-bottom: none;
    border-top: 20px solid black; 
  }
  
  .mm-voting input:active {
    border-bottom-color: orange; 
    border-top-color: orange; 
  }