<body>
    <div *ngIf="!post">
        <mat-error>
            Post not Found
        </mat-error>
    </div>
    <div *ngIf="post">
        <div class="container-fluid">
            <div class="container p-3 mb-4 bg-light text-dark">
                <div class="form-inline">
                    <div class="mm-voting">
                        <input class="upvote" type="button" [ngClass]="{'clicked' : user && userVote == 1 }"
                            (click)="upvote()" />
                        <label>{{ voteCount }}</label>
                        <input class="downvote" type="button" [ngClass]="{'clicked' : user && userVote == -1 }"
                            (click)="downvote()" />
                    </div>
                    <div class="mx-4">
                        <h2>{{ post.title }}</h2>
                    </div>
                </div>
                <div class="mx-5">
                    <p>{{ post.author }}</p>
                    <p>Content: {{ post.content }}</p>
                    <form class="form-inline">
                        <button class="btn btn-sm btn-light text-muted "
                            *ngIf="(user && (user.roles.admin || user.roles.admin || user.uid == post.author))"
                            (click)="edit()">
                            edit
                        </button>
                        <button ceiboShare [facebook]="{u: repoUrl}"
                            class="btn btn-sm btn-light text-muted">share</button>
                        <button class="btn btn-sm btn-light text-muted"
                            *ngIf="(user && (user.roles.admin || user.roles.admin || user.uid == post.author))"
                            (click)="delete()">
                            delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="container p-3 mb-4 bg-light text-dark ">
            <textarea type="text" width="20" class="form-control" placeholder="What do you think?"></textarea>
            <button class="btn btn-lg btn-success mt-1" (click)="comment(post.id)">Save</button>
        </div>

        <div class="container p-3 mb-4 bg-light text-dark ">
            <div [hidden]="!comments">
                <div *ngFor="let comment of comments">
                    <div class="mr-3">
                        <div class="col-md-12">
                            <div class="comment">
                                <div class="user">Content: {{ comment.content }}<span
                                        class="time mx-2">{{ comment.createdAt }}</span></div>
                                <div class="usercomment" style="color: grey;">{{ comment.author }}</div>
                                <div class="replies">
                                    <div class="comment">
                                        <div class="user">anything<span class="time mx-2">2019.11.15</span></div>
                                        <div class="usercomment">owen L</div>
                                    </div>
                                    <div class="comment">
                                        <div class="user">anything<span class="time mx-2">2019.11.15</span></div>
                                        <div class="usercomment">owen L</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <input type="text" class="input-group input-group-lg"> -->
                    <div>
                        <input type="text" *ngIf="!isEditEnable" class="input-group input-group-lg">
                    </div>
                    <div>
                        <button class="btn btn-sm btn-light text-muted" *ngIf="isEditEnable"
                            (click)="onEdit()">reply</button>
                        <button class="btn btn-sm btn-success" *ngIf="!isEditEnable" (click)="onEdit()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>