<div *ngIf="postJson">
    <h2>Post Detail</h2>
    <div class="container-fluid">
        <div class="container p-3 mb-4 bg-light text-dark mt-4">
            <h2>Title: {{ postJson.title }}</h2>
            <p>Content: {{ postJson.content }}</p>
            <p>author: {{ postJson.author }}</p>
            <form class="form-inline">
                <div class="form-group">
                    <button type="submit" class="btn btn-sm btn-light" (click)='upvote(postJson.id)'>
                        <img src="assets/img/thumb-uqwtqouqvector-black-and-white-library-did-it-againthe.jpg" width="40">
                        {{ postJson.upVote }}
                    </button>
                    <button type="submit" class="btn btn-sm btn-light" (click)='downvote(postJson.id)'>
                        <img src="assets/img/231-2318775_bart-clipart-pink-homer-simpson-transparent-background.png" width="40">
                        {{ postJson.downVote }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>