<div *ngIf="user; else login" class="text-center">
    <h3 style="color: aliceblue;">Hello, {{ user.displayName }}</h3>
    <label class="hoverable" for="fileInput">
        <img id="user" [src]="user.photoURL">
        <div class="hover-text">Update</div>
        <div class="background"></div>
    </label>
    <input id="fileInput" type='file' (change)="onSelectFile($event)">

    <p class="mt-3" style="color: aliceblue;">Email: {{ user.email }}</p>
    <p style="color: aliceblue;">UID: {{ user.uid }}</p>
    <div>
        <button class="btn btn-light" (click)="signOut()">Sign Out</button>
        <button class="btn btn-secondary mx-3">Edit detail</button>
    </div>
    <div class="modal-header">
        <h5 class="modal-title" style="color: aliceblue;">Your post</h5>
    </div>
</div>

<!-- User NOT logged in -->
<ng-template #login>
    <div class="text-center">
        <img src="assets/img/oIZJpCMP_400x400.jpg" width=60px alt="">
    </div>
    <div class="text-center">
        <h4 class="modal-title" style="color: aliceblue;">Sign in</h4>
    </div>
    <form [formGroup]="signinForm" (ngSubmit)="signin()">
        <div class="form-row justify-content-center">
            <div class="form-group col-md-3">
                <label for="email" style="color: aliceblue;">Email</label>
                <div class="mx-auto mb-3">
                    <input type="email" formControlName="email" id='email' class="form-control" required>
                    <div *ngIf="signinForm.get('email').touched">
                        <mat-error *ngIf="signinForm.get('email').invalid">
                            Please correct email address
                        </mat-error>
                    </div>
                </div>
                <label for="password" style="color: aliceblue;">Password</label>
                <div class="mx-auto mb-3">
                    <input type="password" size="2" class="form-control" formControlName="password" required>
                    <div *ngIf="signinForm.get('password').touched">
                        <mat-error *ngIf="signinForm.get('password').invalid">
                            Password must be between 6 and 24 chars and have at least one number
                        </mat-error>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-primary" type="submit" [disabled]="!signinForm.valid">Log in</button>
        </div>
    </form>

    <div class="text-center">
        <div class="mt-3">
            <a href="">Forgot Password</a>
        </div>
        <div class="text-center mt-3">
            <p style="color: aliceblue;">New to askreddit? <a routerLink='/sign-up'>Sign up</a></p>
        </div>

    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-light mx-3 btn-lg mt-3 d-inline-flex" (click)="googleSignIn()">
            <img src="assets/img/new-google-favicon-512.png" alt="Log in with google" class="mr-3" width=40px>
            <p class="center">Log in with google</p>
        </button>
    </div>
</ng-template>