<div *ngIf="auth.user$ | async as user; else login">
    <h3>Hello, {{ user.displayName }}</h3>
    <img  [src]="user.photoURL">
    <p>Email: {{ user.email }}</p>
    <p>UID: {{ user.uid }}</p>
    <button class="button" (click)="auth.signOut()">Sign Out</button>
</div>

<!-- User NOT logged in -->
<ng-template #login>
    <div class="authBlock">
        <h3>Sign In</h3>
        <div class="formGroup">
          <input type="text" class="formControl" placeholder="Username" #email required>
        </div>
        <div class="formGroup">
          <input type="password" class="formControl" placeholder="Password" #password required>
        </div>
        <div class="formGroup">
          <input type="button" class="btn btnPrimary" value="Log in" (click)="auth.emailSignin(email.value, password.value)">
        </div>
     </div>`
    <button class="button" (click)="auth.googleSignin()">Login with Google</button>
</ng-template>
